* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "music-buttons";
  src: url("assets/fonts/music_buttons.ttf") format("truetype");
}
@font-face {
  font-family: "websymbols";
  src: url("assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"), url("assets/fonts/websymbols-regular-webfont.eot");
  src: url("assets/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opnetype"), url("assets/fonts/websymbols-regular-webfont.woff") format("woff"), url("assets/fonts/websymbols-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.websymbols {
  font-family: "websymbols";
  margin-right: 5px;
}

.music-button {
  font-family: "music-buttons";
  cursor: pointer;
}

body {
  font-family: helvetica;
}

li {
  list-style: none;
}

#main-div {
  width: 96%;
  height: 98vh;
  margin: 1% auto;
  padding: 0 10px;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
}
#main-div header {
  width: 86%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 14%;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
#main-div header .logo {
  flex-basis: 35%;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #ccc;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  color: green;
}
#main-div header #menu {
  text-transform: uppercase;
  flex-basis: 50%;
}
#main-div header #menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#main-div header #menu ul li {
  width: 20%;
  text-align: center;
}
#main-div header #menu ul li a {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
#main-div header #menu ul li a:hover {
  color: green;
}
#main-div #main {
  width: 96%;
  height: min-content;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 3%;
  max-height: 80vh;
}
#main-div #main #aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#main-div #main #aside #aside-menu ul li {
  margin-top: 50px;
}
#main-div #main #aside #aside-menu ul li a {
  color: green;
  width: 100%;
}
#main-div #main #projects {
  background-color: #f2f2f2;
  height: 63vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#main-div #main #projects .project {
  height: 48%;
  aspect-ratio: 1/1;
}
#main-div #main #projects .project img {
  width: 75%;
  cursor: pointer;
}
#main-div #main #projects .project .project-info h3 {
  font-size: 14px;
  cursor: pointer;
}
#main-div #main #projects .project .project-info a {
  font-size: 14px;
  color: green;
}
#main-div #main #projects .project .project-info a:hover {
  text-decoration: underline;
}
#main-div footer {
  margin-top: 3vh;
  background-color: black;
  padding: 10px;
  color: white;
}
#main-div footer div {
  text-align: center;
  height: 14vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#main-div footer div #reproduciendo-img-div {
  width: 5%;
}
#main-div footer div #reproduciendo-img-div img {
  height: 100%;
}
#main-div footer div #controles-reproduccion {
  width: 80%;
}
#main-div footer div #controles-reproduccion #controles-tiempo {
  width: 60%;
}
#main-div footer div #controles-reproduccion #controles-tiempo span {
  margin-right: 5%;
}
#main-div footer div #controles-reproduccion #controles-tiempo #time {
  display: block;
  width: 100px;
}
#main-div footer div #controles-reproduccion #controles-tiempo #time-range {
  display: block;
  width: 60%;
}
#main-div footer div #controles-reproduccion #controles-volumen {
  width: 30%;
}
#main-div footer div #controles-reproduccion #controles-volumen #volume-range {
  width: 40%;
  margin-left: 5%;
  min-width: 60px;
}

.active {
  text-decoration: underline;
  color: rgb(81, 168, 182) !important;
}

input[type=range] {
  appearance: none;
  background: rgb(172, 229, 107);
  height: 10px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none !important;
  background: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  cursor: pointer;
}

@media (max-width: 750px) {
  header {
    height: min-content !important;
    display: block !important;
    text-align: center;
  }
  header #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  #reproduciendo-img-div {
    width: 20% !important;
  }
  #controles-reproduccion {
    width: 70% !important;
  }
  #main {
    width: 100% !important;
    grid-template-columns: 25% 1fr !important;
  }
}
@media (max-width: 390px) {
  #menu > ul {
    flex-direction: column !important;
  }
  #main {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  #aside-menu > ul > li {
    margin-top: 2px !important;
  }
  #projects {
    height: 56vh !important;
    width: 80%;
    margin: 10px auto;
  }
  footer {
    height: 40%;
  }
  footer > div {
    display: block !important;
    height: 100% !important;
  }
  #reproduciendo-img-div {
    height: 100px !important;
    margin: auto !important;
  }
  footer #controles-reproduccion {
    display: block !important;
    width: 100% !important;
  }
  #controles-tiempo {
    width: 100% !important;
  }
  #controles-volumen {
    height: 4vh !important;
    width: 60% !important;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
